.logo {
  max-width: 4%;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(243, 244, 244);
  align-items: center;
  max-height: 38px;
}

.navLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 2rem;
}
